<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="config_file" default="$(find topological_map_ros)/config/config.yaml"/>

    <node name="topological_map" pkg="topological_map_ros" type="topological_server" args="$(find topological_map_ros)/config/" output="screen">
        <rosparam command="load" file="$(arg config_file)" />
    </node>
</launch>
